<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="blm-text-downsize">About Us</h2>
            <p>
                <span class="blm-support-text-downsize">We support all black-owned businesses!
                    We are a group of sports executives, 
                    former Ivy League athletes, 
                    and marketing/event experts who are working together 
                    to instill change in our society. We aim to support and raise 
                    awareness for black-owned businesses in an effort to build a 
                    powerful infrastructure and expansive database for the black business community.
                </span>
            </p>
            <p>
                <span class="blm-support-text-downsize">Our mission is to provide ongoing benefits 
                    and financial resources to the black owned business community. 
                    In these unprecedented times, we must come together 
                    as one unit to support our fellow brothers and sisters 
                    who are continuously working to find success within a partisan system. 
                    Through continued efforts, our goal is to compile 
                    a $1 million fund to be dispersed as grants to black owned businesses in need!
                </span>
            </p>
        </div>
        <div class="col-md-12">
                <img class="responsive-image"src="../../assets/black-caregiver-supporting-woman-hand-in-park-JFNGYTH.jpg" alt="">
        </div>
    </div>
</div>
