.blm-text-downsize{
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    letter-spacing: 4px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 10%;
}

.blm-support-text-downsize{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(27,27,27);
    word-wrap: break-word;
    overflow-wrap: break-word;
    letter-spacing: unset;
    text-transform: unset;
    text-align: center;
}