<h1>Add Business</h1>

<form  [formGroup]="newBusinessForm" (ngSubmit)=getFormData()>
    <mat-form-field>
        <mat-label>Business Name</mat-label>
        <input matInput placeholder="Business Name" type="text" formControlName="businessName">
        <mat-error *ngIf="!newBusinessForm.controls['businessName'].valid && newBusinessForm.controls['businessName'].touched">
                Please Enter Your Business Name
        </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field>
        <mat-label>Business Category</mat-label>
        <mat-select formControlName="businessCategory">
            <mat-option *ngFor="let biz of businessTypes" [value]="biz.value">{{biz.viewValue}}</mat-option>
        </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field>
        <mat-label>Business Category - Other</mat-label>
        <input matInput type="text" placeholder="Business Category - Other" formControlName="businessCategoryOther">
        <mat-hint>Fill in if previous choice is "Other"</mat-hint>
    </mat-form-field>
    <br>

    <mat-form-field>
        <mat-label>Business City</mat-label>
        <input matInput type="text" placeholder="Business City" formControlName="businessCity">
    </mat-form-field>
    <br>

    <mat-form-field>
            <mat-label>Business State</mat-label>
        <mat-select formControlName="businessState">
            <mat-option *ngFor="let state of states" [value]="state.name">{{state.abbreviation}}</mat-option>
        </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field>
            <mat-label>Business Website</mat-label>
        <input matInput type="text" placeholder="Business Website"formControlName="businessWebsite">
    </mat-form-field>
    <br>

    <mat-form-field>
            <mat-label>Business Description</mat-label>
        <textarea matInput type="text" placeholder="Business Description"formControlName="businessDescription"> </textarea>
    </mat-form-field>
    <br>

    <mat-form-field>
            <mat-label>Facebook Handle</mat-label>
        <input matInput type="text" placeholder="Facebook Handle"formControlName="facebookHandle">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Instagram Handle</mat-label>
            <input matInput type="text" placeholder="Instagram Handle" formControlName="instagramHandle">
            <mat-error *ngIf="!newBusinessForm.controls['instagramHandle'].valid && newBusinessForm.controls['instagramHandle'].touched">
                    Please Enter Your Instagram Handle
            </mat-error>
    </mat-form-field>
    <br>
    <button type="submit" mat-raised-button>Submit</button>
</form>