div.row{
    margin:0 auto;
    text-align: center;
    transform: translate(0vw,10vw)
}

button[mat-stroked-button]{
    width: 20vw;
}

input[matInput],textarea[matInput]{
    width: 100%;
}

@media(max-width:730px){
    button[mat-stroked-button]{
        width: auto;
    }
}