div.container{
    margin-top: 4rem;
}

.blm-text{
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    letter-spacing: 4px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
}

.responsive-image{
    width:100%;
    max-width: 100%;
    height: auto;
}

.list-center-text{
    text-align: center;
}