<nav class="navbar">
    <a href="#" class="logo">Logo</a>
    <ul class="main-nav">
        <li>
            <a href="" class="nav-links">Home</a>
        </li>
        <li>
            <a href="" class="nav-links">About Us</a>
        </li>
        <li>
            <a href="" class="nav-links">Contact Us</a>
        </li>
        <li>
            <a href="" class="nav-links">The List</a>
        </li>
        <li>
            <a href="" class="nav-links">Join Us</a>
        </li>
        <li>
            <a href="" class="nav-links">Social</a>
        </li>
    </ul>
</nav>