<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Get Involved</h3>
            <form action="">
                <mat-form-field>
                    <mat-label>name</mat-label>
                    <input type="text" matInput>
                </mat-form-field>
                <br>
                <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input type="email" matInput>
                </mat-form-field>
                <br>
                <mat-form-field>
                        <mat-label>Where Did You Hear About Us?</mat-label>
                        <input type="text" matInput>
                </mat-form-field>
                <br>
                <mat-form-field>
                        <mat-label>Tell us a bit about your experience with NPO or volunteer work.</mat-label>
                        <input type="textarea" matInput>
                </mat-form-field>
                <br>
                <mat-form-field>
                        <mat-label>What programs are you interested in working with?</mat-label>
                        <input type="textarea" matInput>
                </mat-form-field>
                <br>
                <button type="submit" mat-stroked-button>Send</button>
            </form>
        </div>
        <div class="col-md-6">
            <h3>Find more ways to help!</h3>
            <p>
            <span>A nonprofit is as strong as the community that holds it up. Together, we can do more than we can do alone. 
                Let's bring our abilities and passions together to promote real change.
            </span>
            </p>
            <p>
                <span>There are many ways to join us and support our mission. Contact us to find out more about volunteer opportunities, fundraising events, 
                    and ways that you can help spread our message to your friends and family.
                </span>
            </p>
            <p>
                <span>Black Owned Now</span>
            </p>
        </div>
    </div>
</div>
