.test{
  width: 50vw;
  margin: 2vw auto 2vw auto;
}
.header {
  -webkit-box-align: center;
  align-items: center;
  background: -webkit-gradient(linear,left top,left bottom,from(#fbc300),to(#c98a00));
  background: linear-gradient(to bottom,#fbc300,#c98a00);
  background-image: url(../../assets/StockPhotos/millennial-black-businesswoman-listening-to-collea-GQZCD39.jpg);
  background-image: url(../../assets/StockPhotos/millennial-black-businesswoman-listening-to-collea-GQZCD39.jpg),-webkit-gradient(linear,left top,left bottom,from(#fbc300),to(#c98a00));
  background-image: url(../../assets/StockPhotos/millennial-black-businesswoman-listening-to-collea-GQZCD39.jpg),linear-gradient(to bottom,#fbc300,#c98a00);
  background-position: center;
  background-size: cover;
  color: #fff;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 368px;
  padding: .5rem 1rem;
  text-align: center;
}

.container {
  display: -webkit-box;
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
  padding: 2rem 1rem;
}

.container-filters {
  -webkit-box-flex: 1;
  flex: 1;
  margin-right: 60px;
  max-width: 260px;
}

.container-header {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 80px;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
}

.searchbox {
  margin-bottom: 2rem;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}




/*------------------------------------*\
    RESET
\*------------------------------------*/
/* https://meyerweb.com/eric/tools/css/reset/ 
    v2.0b1 | 201101 
    NOTE:WORK IN PROGRESS
    USE WITH CAUTION AND TEST WITH ABANDON */

    html,body,div,span,applet,object,iframe,
    h1,h2,h3,h4,h5,h6,p,blockquote,pre,
    a,abbr,acronym,address,big,cite,code,
    del,dfn,em,img,ins,kbd,q,s,samp,
    small,strike,strong,sub,sup,tt,var,
    b,u,i,center,
    dl,dt,dd,ol,ul,li,
    fieldset,form,label,legend,
    table,caption,tbody,tfoot,thead,tr,th,td,
    article,aside,canvas,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section,summary,
    time,mark,audio,video{
        margin:0;
        padding:0;
        border:0;
        outline:0;
        font-size:100%;
        font:inherit;
        vertical-align:baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article,aside,details,figcaption,figure,
    footer,header,hgroup,menu,nav,section{
        display:block;
    }
    body{
        line-height:1;
    }
    ol,ul{
        list-style:none;
    }
    blockquote,q{
        quotes:none;
    }
    blockquote:before,blockquote:after,
    q:before,q:after{
        content:’’;
        content:none;
    }
    /* remember to define visible focus styles! 
    :focus{
        outline:?????;
    } */
    
    /* remember to highlight inserts somehow! */
    ins{
        text-decoration:none;
    }
    del{
        text-decoration:line-through;
    }
    
    table{
        border-collapse:collapse;
        border-spacing:0;
    }
    
    /*------------------------------------*\
        $MAIN
    \*------------------------------------*/
    
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
    
    body {
      margin: 0 auto;
      width: 90%;
      max-width: 1240px;
      font-family: 'Roboto', sans-serif;
      background-color: #f6f6f6;
    }
    
    /* Typography */
    
    h1 {
      font-size: 28px;
      font-weight: 300;
      flex: 1;
    }
    
    h5 {
      font-weight: 500;
      line-height: 1.7em;
    }
    
    h6 {
      color: #666;
      font-size: 14px;
    }
    
    /* Product Layout */
    
    .product-filter {
      display: flex;
      padding: 30px 0;
    }
    
    .sort {
      display: flex;
      align-self: flex-end;
    }
    
    .collection-sort {
     display: flex;
      flex-direction: column;
      margin-left: 5vw;
    }
    
    .collection-sort:first-child {
      padding-right: 20px;
    }
    
    label {
      color: #666;
      font-size: 10px;
      font-weight: 500;
      line-height: 2em;
      text-transform: uppercase;
    }
    
    .products {
      display: flex;
      flex-wrap: wrap;
    }
    
    .product-card {
      display: flex;
      flex-direction: column;

      margin-bottom: 5vw;
      
      padding: 2%;
      flex: 1 16%;
      
      background-color: #FFF;
      box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
    }
    
    .product-image img {
      width: 100%;
    }
    
    .product-info {
      margin-top: auto;
      padding-top: 20px;
      text-align: center;
    }

    section>h1{
      transform: none;
    }
    
    @media ( max-width: 920px ) {
      
      .product-card {
        flex: 1 21%;
      }
      
      .products .product-card:first-child, 
      .products .product-card:nth-child(2) {
        flex: 2 46%;
      }
      
    }
    
    @media ( max-width: 600px ) {
      
      .product-card {
        flex: 1 46%;
      }
      
    }
    
    @media ( max-width: 660px ) {
      
      h1 {
        margin-bottom: 20px;
        text-align: center;
      }
      
      .product-filter {
        flex-direction: column;
      }
      
      .sort {
        align-self: flex-start;
      }
      
    }

    label,button{
      color: white;
    }


    //---Grid Layout material design --
    .main-grid{
      max-width: 1200px;
      margin: 30px auto;
      padding: 0 20px;
      width: 100%; 
      display: grid;
      /* Define Auto Row size */
      grid-auto-rows: 300px; 
      /*Define our columns */
      grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); 
      grid-gap: 1em;
    }

    .grid-item-business{
      border-radius: 10px;
      padding: 20px;
      color: #fff;
      display: inline-grid;
      grid-template-columns: 2fr 2fr 2fr;
      transition: box-shadow 1s;
    }

    h2#business_name,.span#business_description{
      color:hsl(251, 21%, 19%);
      display:inline;
      font-size:20px;
      font-weight:700;
      gap:normal;
      line-height:26px;
      text-align:left;
    }

  a{
    text-decoration: none;
  }

  a:hover{
    text-decoration: underline;
  }
    .grid-item-business:nth-child(odd) {
      background-color: #55BBE9;
    }
    
    .grid-item-business:nth-child(even) {
      background:#448AFF;
    }

    .grid-item-business:hover{
      box-shadow: 0 15px 24px rgba(255, 255, 255, 0.55), 0 19px 76px rgba(253, 253, 253, 0.3);
    }


    .pure-material-button-contained {
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      border: none;
      border-radius: 4px;
      padding: 0 16px;
      min-width: auto;
      height: 36px;
      vertical-align: middle;
      text-align: center;
      text-overflow: ellipsis;
      text-transform: uppercase;
      color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
      background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
      font-size: 14px;
      font-weight: 500;
      line-height: 36px;
      overflow: hidden;
      outline: none;
      cursor: pointer;
      transition: box-shadow 0.2s;
  }
  
  .pure-material-button-contained::-moz-focus-inner {
      border: none;
  }
  
  /* Overlay */
  .pure-material-button-contained::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
      opacity: 0;
      transition: opacity 0.2s;
  }
  
  /* Ripple */
  .pure-material-button-contained::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      padding: 50%;
      width: 32px; /* Safari */
      height: 32px; /* Safari */
      background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
      opacity: 0;
      transform: translate(-50%, -50%) scale(1);
      transition: opacity 1s, transform 0.5s;
  }
  
  /* Hover, Focus */
  .pure-material-button-contained:hover,
  .pure-material-button-contained:focus {
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  }
  
  .pure-material-button-contained:hover::before {
      opacity: 0.08;
  }
  
  .pure-material-button-contained:focus::before {
      opacity: 0.24;
  }
  
  .pure-material-button-contained:hover:focus::before {
      opacity: 0.3;
  }
  
  /* Active */
  .pure-material-button-contained:active {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .pure-material-button-contained:active::after {
      opacity: 0.32;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0s;
  }
  
  /* Disabled */
  .pure-material-button-contained:disabled {
      color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
      background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
      box-shadow: none;
      cursor: initial;
  }
  
  .pure-material-button-contained:disabled::before {
      opacity: 0;
  }
  
  .pure-material-button-contained:disabled::after {
      opacity: 0;
  }
    // -- End of grid layout


    h1{
      transform: translate(10px, -2vw);
      font-weight: 500;
      line-height: 10vw;
    }

 h2{
      font-size: 6vw;
      font-weight: 500;
    }

    span{
  display: inline-block;
  word-wrap: break-word;
  width: 125px;
  height: 200px;
  overflow:hidden;
  
    }

.results{
  margin: 0 auto !important;
}



  @media(min-width: 606px){
  p{
    font-size: 4vw;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 2rem;
    height: auto;
    word-wrap: break-word;
    white-space: pre-line;
  }
  }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    