
@import './list-search-cards.component';

label{
  position: relative;
  transform: translate(35vh, 2vw);
  display: block;
  font-weight: 400;
  font-family: 'Oswald';
  font-size: 2vw;
}






    


    //---Grid Layout material design --



    
    .main-grid{
      max-width: 1200px;
      margin: 30px auto;
      padding: 0 20px;
      width: 100%; 
      display: grid;
      /* Define Auto Row size */
      grid-auto-rows: 300px; 
      /*Define our columns */
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
      grid-gap: 1em;
    }

    ul li{
      display: inline-block;
      word-break: break-word;
    }

    .grid-item-business{
      border-radius: 9px;
      background-color: #FFFFFF;
      margin: -3vh 4vw;
      height: 43vh;
      display: grid;
      grid-template-columns: 2fr 2fr 2fr;
      transition: box-shadow 1s;   
      width:13vw;
      box-shadow: 1px 4px 9px 0px black;

      h5{
        color: black;
        position: relative;
        transform: translate(1.5vw,5vh);
      }
    }

    h2#business_name,.span#business_description{
      color:hsl(251, 21%, 19%);
      display:inline;
      font-size:20px;
      font-weight:700;
      gap:normal;
      line-height:26px;
      text-align:left;
    }

  a{
    text-decoration: none;
  }

  a:hover{
    text-decoration: underline;
  }
    .grid-item-business:nth-child(odd) {
      background-color: #FFFFFF;
    }
    
    .grid-item-business:nth-child(even) {
      background:#FFFFFF;
    }

    .grid-item-business:hover{
      box-shadow: 0 15px 24px rgba(255, 255, 255, 0.55), 0 19px 76px rgba(253, 253, 253, 0.3);
    }


    .pure-material-button-contained {
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      border: none;
      border-radius: 4px;
      padding: 0 16px;
      min-width: auto;
      height: 36px;
      vertical-align: middle;
      text-align: center;
      text-overflow: ellipsis;
      text-transform: uppercase;
      color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
      background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
      font-size: 14px;
      font-weight: 500;
      line-height: 36px;
      overflow: hidden;
      outline: none;
      cursor: pointer;
      transition: box-shadow 0.2s;
  }
  
  .pure-material-button-contained::-moz-focus-inner {
      border: none;
  }
  
  /* Overlay */
  .pure-material-button-contained::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
      opacity: 0;
      transition: opacity 0.2s;
  }
  
  /* Ripple */
  .pure-material-button-contained::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      padding: 50%;
      width: 32px; /* Safari */
      height: 32px; /* Safari */
      background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
      opacity: 0;
      transform: translate(-50%, -50%) scale(1);
      transition: opacity 1s, transform 0.5s;
  }
  
  /* Hover, Focus */
  .pure-material-button-contained:hover,
  .pure-material-button-contained:focus {
      box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  }
  
  .pure-material-button-contained:hover::before {
      opacity: 0.08;
  }
  
  .pure-material-button-contained:focus::before {
      opacity: 0.24;
  }
  
  .pure-material-button-contained:hover:focus::before {
      opacity: 0.3;
  }
  
  /* Active */
  .pure-material-button-contained:active {
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .pure-material-button-contained:active::after {
      opacity: 0.32;
      transform: translate(-50%, -50%) scale(0);
      transition: transform 0s;
  }
  
  /* Disabled */
  .pure-material-button-contained:disabled {
      color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
      background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
      box-shadow: none;
      cursor: initial;
  }
  
  .pure-material-button-contained:disabled::before {
      opacity: 0;
  }
  
  .pure-material-button-contained:disabled::after {
      opacity: 0;
  }
    // -- End of grid layout


    h1{
      transform: translate(10px, -2vw);
      font-weight: 500;
      line-height: 10vh;
    }

 h2{
      font-size: 6vw;
      font-weight: 500;
    }



.results{
  margin: 0 auto !important;
}

    
    
    
    
    
$select-width: 100%;
$select-translate:translate(5vw, 0vh);
    
// Grid Layout testing 
.grid-search-area{
  width: 100vw;
  height: 50vh;
  display: grid;
  grid-template-rows:repeat(2,1fr);
  grid-template-columns:repeat(5,1fr);
  grid-template-areas: 
    "searchbar searchbar searchbar searchbar searchbar"
    "sortby    type      remoteonly level    clearall";
}

.searchbar{
  grid-area:searchbar;


  input[placeholder="Search"]{
    width: 75%;
    padding:24px;
    margin:9vh auto;
    display:block;
    box-shadow: 6px 10px 19px black;
    border-radius: 9px;
  }

}

.sortby{
  grid-area:sortby;
  grid-gap:4px;

  select[name="sort-by"]{
    padding:8px;
    width:$select-width;
    margin:0 auto;
    display:block;
    border-color: #F0F4F7;
    border-radius: 3px;
    transform: $select-translate;

    :focus{
      border-color: #F0F4F7;
    }
    :default{
      border-color: #F0F4F7;
    }
  }
  h5{
    transform:translate(5vw,-2vh);
    position: relative;
  }
}

.type{
  grid-area: type;

  select[name="type"]{
    padding:8px;
    width:$select-width;
    margin:0 auto;
    display:block;
    border-color: #F0F4F7;
    border-radius: 3px;
    transform: $select-translate;

    :focus{
      border-color: #F0F4F7;
    }
    :default{
      border-color: #F0F4F7;
    }
  }
  h5{
    transform:translate(5vw,-2vh);
    position: relative;
  }
}

.remoteonly{
  grid-area: remoteonly;
}

.level{
  grid-area: level;
  select[name="level"]{
    padding:8px;
    width:$select-width;
    margin:0 -10vw;
    display:block;
    border-color: #F0F4F7;
    border-radius: 3px;
    transform: $select-translate;

    :focus{
      border-color: #F0F4F7;
    }
    :default{
      border-color: #F0F4F7;
    }
  }
  h5{
    transform:translate(-5vw,-2vh);
    position: relative;
  }
}

.clearall{
  grid-area:clearall;
}

hr{
  width: 67%;
  transform: translate(-1vw, 7vh);
}

.grid-results-area{
  width:100vw;
  height: 50vh;
  display: inline-grid;
  grid-template-rows:repeat(2,1fr);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  grid-gap: 1em;
  grid-template-areas: 
    "box1 box2 box3 box4"
    "box5 box6 box7 box8";
}

.box1{
  grid-area:box1;
  border-radius: 9px;
  background-color: #FFFFFF;
  margin: -3vh 4vw;
  height: 64vh;
  width:13vw;
  box-shadow: 1px 4px 9px 0px black;

  h5{
    color: black;
    position: relative;
    transform: translate(1.5vw,5vh);
  }

}

.box1:hover{
  background-color: #0066FE;
  color: white;
  box-shadow: 1px 11px 25px 0px white,
              1px 1px 25px 0px #0066FE;
  
  h5{
    color:white;

    ::after{
      content:"";
      border-bottom: 1px solid white;
      position: relative;
    }
  }
}

.box2{
  grid-area:box2;
  border-radius: 9px;
  background-color: #FFFFFF;
  margin: -3vh 4vw;
  height: 64vh;
  width:12vw;
  box-shadow: 1px 4px 9px 0px black;

  h5{
    color: black;
    position: relative;
    transform: translate(1.5vw,5vh);
  }

}

.box2:hover{
  background-color: #0066FE;
  color: white;
  box-shadow: 1px 11px 25px 0px white,
              1px 1px 25px 0px #0066FE;
  
  h5{
    color:white;

    ::after{
      content:"";
      border-bottom: 1px solid white;
      position: relative;
    }
  }
}

.box3{
  grid-area:box3;
  border-radius: 9px;
  background-color: #FFFFFF;
  margin: -3vh 4vw;
  height: 64vh;
  width:12vw;
  box-shadow: 1px 4px 9px 0px black;

  h5{
    color: black;
    position: relative;
    transform: translate(1.5vw,5vh);
  }

}

.box3:hover{
  background-color: #0066FE;
  color: white;
  box-shadow: 1px 11px 25px 0px white,
              1px 1px 25px 0px #0066FE;
  
  h5{
    color:white;

    ::after{
      content:"";
      border-bottom: 1px solid white;
      position: relative;
    }
  }
}

.box4{
  grid-area:box4;
  border-radius: 9px;
  background-color: #FFFFFF;
  margin: -3vh 4vw;
  height: 64vh;
  width:12vw;
  box-shadow: 1px 4px 9px 0px black;

  h5{
    color: black;
    position: relative;
    transform: translate(1.5vw,5vh);
  }

}

.box4:hover{
  background-color: #0066FE;
  color: white;
  box-shadow: 1px 11px 25px 0px white,
              1px 1px 25px 0px #0066FE;
  
  h5{
    color:white;

    ::after{
      content:"";
      border-bottom: 1px solid white;
      position: relative;
    }
  }
}


    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    