

  <div class="ais-InstantSearch">
      <ais-instantsearch [config]="config">
          <header class="header">
            <ais-search-box ></ais-search-box>
          </header>

          <section class="product-filter">
              <h1>Black Owned Now - The List</h1>
              <ais-clear-refinements></ais-clear-refinements>
              <ais-current-refinements></ais-current-refinements>
              <div class="sort">
                  <div class="collection-sort">
                      <label>Filter By: Category</label>
                     <ais-category-menu-select attribute="business_category"></ais-category-menu-select> 
                  </div>
                  <div class="collection-sort">
                      <label>Filter By: City</label>
                      <ais-business-menu-select attribute="business_city"></ais-business-menu-select>
                </div>
              </div>
          </section>
          <section class="products">
              <ais-hits>
                  <ng-template let-hits="hits">
                      <div class="product-card" *ngFor="let hit of hits">
                          <div class="product-image">
                            
                          </div>
                          <div class="product-info">
                                <h1><ais-highlight attribute="business_name" [hit]="hit"></ais-highlight></h1>
                                <a href="{{ hit.business_website | removeTrailingCharacter }}"><h1><ais-highlight attribute="business_website" [hit]="hit"></ais-highlight></h1></a>
                                <div class="city-cat-row">
                                    <div class="city-cat-column">
                                        <h3><ais-highlight attribute="business_city" [hit]="hit"></ais-highlight></h3>
                                        <h3>Instagram Handle: <ais-highlight attribute="instagram_handle" [hit]="hit"></ais-highlight></h3>
                                    </div>
                                    <div class="city-cat-column">
                                            <h3><ais-highlight attribute="business_category" [hit]="hit"></ais-highlight></h3>
                                            <h3>Facebook Handle: <ais-highlight attribute="facebook_handle" [hit]="hit"></ais-highlight></h3>
                                    </div>
                                </div>
                                <hr>
                                <p><ais-highlight attribute="business_description" [hit]="hit"></ais-highlight></p>
                          </div>
                      </div>
                  </ng-template>
              </ais-hits>
              <div class="center-pag">
                  <ais-pagination></ais-pagination>
              </div>
          </section>
      </ais-instantsearch>
  </div>
  