


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
// Plus imports for other components in your app.


@import '~angular-instantsearch/bundles/instantsearch.css';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$custom-orange: (
    50: #fff3e0,
    100: #ffe0b2,
    200: #ffcc80,
    300: #ffb74d,
    400: #ffa726,
    500: #ff9800,
    600: #fb8c00,
    700: #f57c00,
    800: #ef6c00,
    900: #e65100,
    A100: #ffd180,
    A200: #ffab40,
    A400: #ff9100,
    A700: #ff6d00,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$firestarter-primary: mat-palette($custom-orange);
$firestarter-accent: mat-palette($mat-green, A200, A100, A400);

// The warn palette is optional (defaults to red).
$firestarter-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$firestarter-theme: mat-light-theme($firestarter-primary, $firestarter-accent, $firestarter-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($firestarter-theme);

/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: white; }



.responsive-image{
    width:100%;
    max-width: 100%;
    height: auto;
}

.ais-SearchBox .ais-SearchBox-input {
    width: 75%;
    padding:24px;
    margin:9vh auto;
    display:block;
    box-shadow: 6px 10px 19px black;
    border-radius: 9px;
}



button.ais-SearchBox-submit{
    left: .5vw !important;
    transform: translate(83vw, -2vh);
}


.ais-pagination{
    width: 75%;
}

div.ais-ClearRefinements button.ais-ClearRefinements-button{
    background-color:#B71C1C;
    margin: 3vh auto;
    padding: 10px;
}

$select-width: 100%;
$select-translate:translate(5vw, 0vh);
ais-category-menu-select select.menu-select{
    padding:8px;
    width:$select-width;
    margin:0 auto;
    display:block;
    border-color: #F0F4F7;
    border-radius: 3px;
    transform: $select-translate;

    :focus{
      border-color: #F0F4F7;
    }
    :default{
      border-color: #F0F4F7;
    }
}

ais-business-menu-select select.menu-select{
    padding:8px;
    width:$select-width;
    margin:0 auto;
    display:block;
    border-color: #F0F4F7;
    border-radius: 3px;
    transform: $select-translate;

    :focus{
      border-color: #F0F4F7;
    }
    :default{
      border-color: #F0F4F7;
    }
}

ais-state-menu-select select.menu-select{
    padding:8px;
    width:$select-width;
    margin:0 auto;
    display:block;
    border-color: #F0F4F7;
    border-radius: 3px;
    transform: translate(-5vw, 0vh);

    :focus{
      border-color: #F0F4F7;
    }
    :default{
      border-color: #F0F4F7;
    }
}




@media(max-width: 870px){
    .ais-SearchBox .ais-SearchBox-input {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 48px 0 rgba(0,0,0,.2);
        font-family: Hind,sans-serif;
        height: 8vw;
        padding: 0.20833333333333334vw 2.5vw 0 3.3333333333333335vw;
    }
    
    .ais-SearchBox-submit{
        display: none;
    }
}

// .ais-SearchBox { margin-bottom: 1em }
// .ais-Pagination { margin-top: 1em }
// .left-panel { float: left; width: 250px }
// .right-panel { margin-left: 260px }
.ais-InstantSearch { max-width: 100%; overflow: hidden; margin: 0 auto }
.ais-ClearRefinements-button,.ais-ClearRefinements-button--disabled{
    color:white;
}
.ais-HitsPerPage, .ais-HitsPerPage-select{
    margin: 0 auto !important;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    margin: 10px !important;
  }

  button .svg-inline--fa.fa-lg{
    vertical-align: -0.668em;
    transform: translate(-9px, 2px);

  }

  



/* MailerLite Popup Styles */







